* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
}

body {
  background-color: beige
}

.fullheight {
  height: 100vh;
}

#sidebar-wrapper {
  background-color: white;
}

#sidebar {
  
}