* {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    box-sizing: border-box;
    text-align:center;
    font-family:-apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    line-height:1.2;
    font: size 2.5vh;;
    word-wrap:break-word
}

body {
    background-color:#000000; 
    background-image: url(img/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body h3 {
    text-align: right;
    font-size:12px;
    margin-right: 3vh;
}

/* The switch - the box around the slider */
body .switch {
    position: relative;
    display: inline;
}

/* Hide default HTML checkbox */
body .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
body .slider {
    position: absolute;
    cursor: pointer;
    top: 0vh;
    left: 0vh;
    right: -2.1vh;
    bottom: 0;
    background-color: #ff646c;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1px;
    top: 1px;
    padding: 1px;
    background-color: snow;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  input:checked + .slider {
    background-color: #00c13a;
}
  
  input:focus + .slider {
    box-shadow: 0 0 1px snow;
}

  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(11px);
}  

/* Rounded sliders */
body .slider.round {
    border-radius: 10px;
}
  
body .slider.round:before {
    border-radius: 50%;
}

body .description {
    text-align:center;
}
   
header .avatar{
    position:relative;
    height:100px
}

header .avatar img{
    position:absolute;
    width:100px;
    margin:0 auto;
    left:0;
    right:0
}

header .avatarMask{
    clip-path:circle(48px at center);
    -webkit-clip-path:circle(48px at center);
}

footer{
    font-size:1.8vh;
    box-sizing:border-box;
    color:snow;
}

#translate {
    display: none;
}

#profileContainer{
    min-height:calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items:center;
}

#profile{
    max-width: 600px;
    border-radius: 10px;
    padding: 10px;
    color: snow;
    box-shadow: inset 0 0 0 3000px rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);

}

a {
    text-decoration: none;
}
    
a:link{color: #c5c5c5}

a:visited{color:gray}

a:hover{color: snow}

a:active{color:#c5c5c5}

a.btn {
    padding: 0.3em 0.5em;
    background-color: black;
    border-color: snow;
    border-radius: 5px;
    color: snow;
    font-size: 1rem;
}

nav ul{
    display:flex;
    justify-content:space-evenly;
    max-width:300px;
    margin:20px auto;
    padding:0;
    list-style:none
}

nav li{flex:1}